*
*/**
**/.DS_Store
!dist/extension.js
!package.json
!package.nls.json
!package.nls.ja.json
!README.md
!README.ja.md
!FAQ.ja.md
!CONTRIBUTING.ja.md
!CHANGELOG.md
!CHANGELOG.ja.md
!docs/**/*.ja.md
!LICENSE
!resources/**/*
!schema/**/*